<div class="demo-grid-1 mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <select class="filters-select" title="Companys">
      <option value="*">Companys</option>
      <% @companys.each do |company| %>
        <option value=".<%= company.downcase.gsub(/\s+/, "") %>"><%= company %></option>
      <% end %>
    </select>
  </div>
  <div class="mdl-cell mdl-cell--4-col">

  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>

<div class="grid">
  <% @casts.each do |cast| %>
      <div class="mdl-card mdl-shadow--2dp demo-card-image grid-item <%= cast.company.downcase.gsub(/\s+/, "") %>" data-category="<%= cast.company.downcase.gsub(/\s+/, "") %>" style="background: no-repeat center/100% url(<%= cast.image_uid %>)">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
          <span class="demo-card-image__filename">
            <%= cast.name %>
          </span>
        </div>
    </div>
  <% end %>
</div>
<script>
  $( function() {
    // init Isotope
    var $grid = $('.grid').isotope({
      itemSelector: '.grid-item',
      layoutMode: 'fitRows'
    });

    // bind filter on select change
    $('.filters-select').on( 'change', function() {
      // get filter value from option value
      var filterValue = this.value;
      $grid.isotope({ filter: filterValue });
    });

  });
</script>
